<?com.burgerland.xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.burgerland.xml.BurgerMapper">

    <resultMap id="custResultMap" type="com.burgerland.common.CustomerDTO" autoMapping="false">
        <id property="customerCode" column="customer_code"/>
        <result property="customerName" column="customer_name"/>
        <result property="regDate" column="reg_date"/>
        <result property="customerGrade" column="customer_grade"/>
    </resultMap>

    <select id="showAllCustomer" resultMap="custResultMap">
        select *
        from customer
        where customer_code
        order by customer_code
    </select>

    <insert id="registCust" parameterType="com.burgerland.common.CustomerDTO">
        insert into customer (
        customer_name,
        reg_date,
        customer_grade
        ) values (
        #{ customerName },
        #{ regDate },
        #{ customerGrade }
        )
    </insert>

    <update id="modifyCust" parameterType="com.burgerland.common.CustomerDTO">
        update customer
        set
        customer_name = #{ customerName },
        reg_date = #{ regDate },
        customer_grade = #{ customerGrade }
        where
        customer_code = #{ customerCode }
    </update>

    <delete id="deleteCust" parameterType="_int">
        delete
        from customer
        where customer_code = #{ customerCode }
    </delete>




</mapper>