<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.burgerland.xml.BurgerMapper">

    <resultMap id="BurgerMap" type="com.burgerland.common.MenuDTO">

        <id property="menuCode" column="menu_code"/>
        <result property="menuName" column="menu_name"/>
        <result property="menuPrice" column="menu_price"/>
        <result property="category" column="category"/>


    </resultMap>

    <select id="viewMenu" resultMap="BurgerMap">

        select
        menu_code,
        menu_name,
        menu_price,
        category
        from menu
        order by menu_code

    </select>

    <insert id="insertMenu" parameterType="com.burgerland.common.MenuDTO">

        insert into menu(
        menu_name,
        menu_price,
        category
        ) values (
        #{ menuName },
        #{ menuPrice },
        #{ category }
        )


    </insert>





</mapper>