<?com.burgerland.xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.burgerland.xml.BurgerMapper">

    <!-- Menu SQL Query -->
    <resultMap id="custResultMap" type="com.burgerland.common.CustomerDTO" autoMapping="false">
        <id property="customerCode" column="customer_code"/>
        <result property="customerName" column="customer_name"/>
        <result property="regDate" column="reg_date"/>
        <result property="customerGrade" column="customer_grade"/>
    </resultMap>

    <select id="showAllCustomer" resultMap="custResultMap">
        select *
        from customer
        where customer_code
        order by customer_code
    </select>
    
    <resultMap id="orderMap" type="com.burgerland.common.OrderDTO">
        <id property="orderCode" column="order_code"/>
        <result property="customerContact" column="customer_contact"/>
        <result property="menuName" column="menu_name"/>
        <result property="orderDate" column="order_date"/>
<!--        <result property="customerName" column="customerName"/>-->
<!--        <result property="menuPrice" column="menu_Price"/>-->
<!--        <result property="customerGrade" column="customer_grade"/>-->

    </resultMap>
    
    <select id="showMyOrder" resultMap="orderMap">
        select
        *
        from orders
        where customer_contact = #{ customerContact }
    </select>

    <resultMap id="BurgerMap" type="com.burgerland.common.MenuDTO">
        <id property="menuCode" column="menu_code"/>
        <result property="menuName" column="menu_name"/>
        <result property="menuPrice" column="menu_price"/>
        <result property="category" column="category"/>
    </resultMap>

    <select id="viewMenu" resultMap="BurgerMap">
        select
        menu_code,
        menu_name,
        menu_price,
        category
        from menu
        order by menu_code
    </select>

    <insert id="insertMenu" parameterType="com.burgerland.common.MenuDTO">
        insert into menu(
        menu_name,
        menu_price,
        category
        ) values (
        #{ menuName },
        #{ menuPrice },
        #{ category }
        )
    </insert>

    <update id="updateMenu" parameterType="hashmap">
        update
        menu
        set
                menu_name = #{ menuName },
                menu_price = #{ menuPrice },
                category = #{ category }
        where menu_code = #{menuCode}

<!--        <set>-->
<!--            <if test="name != null">-->
<!--                menu_name = #{ menuName },-->
<!--            </if>-->
<!--            <if test="price != null">-->
<!--                menu_price = #{ menuPrice },-->

<!--            </if>-->
<!--            <if test="category != null">-->
<!--                category = #{ category }-->
<!--            </if>-->
<!--        </set>-->
<!--        where menu_code = #{menuCode}-->
    </update>
    
    <delete id="cancelMyOrder" parameterType="com.burgerland.common.OrderDTO">

        delete
        from orders
        where order_code = #{orderCode}

    </delete>

    <delete id="deleteMenu" parameterType="com.burgerland.common.MenuDTO">
        delete
        from menu
        where menu_code = #{menuCode}
    </delete>

    <!-- Customer SQL Query -->
    <insert id="registCust" parameterType="com.burgerland.common.CustomerDTO">
        insert into customer (
        customer_name,
        reg_date,
        customer_grade
        ) values (
        #{ customerName },
        #{ regDate },
        #{ customerGrade }
        )
    </insert>

    <update id="modifyCust" parameterType="com.burgerland.common.CustomerDTO">
        update customer
        set
        customer_name = #{ customerName },
        reg_date = #{ regDate },
        customer_grade = #{ customerGrade }
        where
        customer_code = #{ customerCode }
    </update>

    <delete id="deleteCust" parameterType="_int">
        delete
        from customer
        where customer_code = #{ customerCode }
    </delete>


</mapper>